[Unit]
Description=sync pass and firefox login data

[Service]
Type=oneshot
User=adrien
RemainAfterExit=no
ExecStart=/bin/bash -c '/usr/bin/python /home/adrien/code/firefox_decrypt/firefox_decrypt.py --export-pass --no-interactive --choice 2 --pass-compat browserpass --pass-prefix www'

[Install]
WantedBy=multi-user.target
