[Unit]
Description=pass git push

[Service]
Type=oneshot
User=adrien
RemainAfterExit=true
ExecStart=/bin/bash -c 'pass git push'

[Install]
WantedBy=multi-user.target
